# General
.DS_Store
.AppleDouble
.LSOverride
.idea

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Log
*.log

# Web
node_modules
coverage
explorations
tenon/packages/*/dist/*
package-lock.json

# napi
include/
libhermes.a
libjsc.a
libquickjs.a
napi_ios.tar.gz

# dist
api/examples/hummer-api-test/dist/*
api/packages/hummer-api/dist/*
api/examples/hummer-api-test/template/*
