.demo-header {
  padding: 0.2rem 0;
  background-color: #fa9153;
}
.demo-title {
  font-size: 0.36rem;
  width: 100%;
  text-align: center;
  color: white;
}
.list-container {
  margin-top: 0.2rem;
  padding: 0 0.2rem;
}
.list-box {
  background-color: #ffffff;
  margin-top: .2rem;
  padding: .2rem;
}
.list-box-title{
  font-size: .32rem;
  text-align: center;
  margin-bottom: .2rem;
}
.list-item {
  border-top: 1px solid #eeeeff;
  border-bottom: 1px solid #eeeeff;
}

/* list-item */

.item{
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  height: 1rem;
  border-top: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
.item-title{
  flex: 1;
  color: blue;
  text-align: center;
}
.item-icon{
  width: .36rem;
  height: .36rem;
  resize: cover;
  margin-right: .2rem;
}