<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didi.hummer2.devtools">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application>

        <activity
            android:name=".qrcode.QrcodeMainActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:launchMode="singleTask" />
        <activity
            android:name=".zxing.activity.CaptureActivity"
            android:launchMode="singleTask" />

        <provider
            android:name=".HummerDevToolsBindProvider"
            android:authorities="${applicationId}.hummer-devtools-binder"
            android:exported="false" />
    </application>

</manifest>
