<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.didi.hummer.sdk">

    <uses-permission android:name="android.permission.INTERNET" />

    <application>
        <activity
            android:name="com.didi.hummer.utils.blankj.UtilsTransActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:multiprocess="true"
            android:theme="@style/ActivityTranslucent"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden" />
    </application>

</manifest>
