<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didi.hummer">

    <application>

        <activity
            android:name=".HummerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".delegate.HummerDelegateActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>
