<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.didi.hummer2">

    <uses-permission android:name="android.permission.INTERNET" />


    <application>
        <activity
            android:name=".HummerActivity"
            android:theme="@style/HummerTheme.NoActionBar" />
    </application>

</manifest>
